@{
    ViewData["Title"] = "Feature Flag One";
}

<div class="text-center">
    <h1 class="display-4">Feature Flag One</h1>
    <p>This page is controlled by a simple feature flag, that either shows the page or doesn't.</p>
</div>